# Ignore Data directory
/Data/

# Ignore Offre directory
/Offre/

# Ignore Presentations directory
/Presentations/

# Ignore Secret from Streamlit app
/Streamlit/.streamlit/secrets.toml

# Ignore any heavy files you want to exclude
# Example:
# myfile.csv